[Unit]
Description={{ lookup('vars',app_name)['description'] }}

[Service]
Type=simple
SuccessExitStatus=143
User={{ lookup('vars','permissions')[app_env]['owner_user'] }}
Group={{ lookup('vars','permissions')[app_env]['owner_group'] }}
ExecStart=/bin/bash {{ structure.app.root }}/control.sh
ExecStop=/bin/kill -15 $MAINPID
RestartSec=30
Restart=on-failure
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
