url = {{ lookup('vars','properties')['common'][app_env][app_loc]['db']['url'] }}
user = {{ lookup('vars','properties')['common'][app_env][app_loc]['db']['user'] }}
password = {{ lookup('vars','properties')['common'][app_env][app_loc]['db']['password'] }}